<%- include('./templates/header.ejs') %>
<!-- Body -->

<section class="container-md mt-5">
    <div class="row align-items-center justify-content-center">
        
        <div class="card" style="width: 100rem;">

            <div class="card-body">
                <h5 class="card-title card-header">Available Courses</h5>


<!-- No Courses Message -->
<div class="form-outline mb-4 p-4">
    
</div>

    
    <% if (courses.length > 0) { %> 
        <% courses.forEach(course => { %>
            <a class="single" href="/course/<%= course._id %>">
            <h3 class="title"><%= course.course_name %></h3>
            <p class="snippet"><%= course.subject %></p>
            </a>

    <% }) %>
    <% } else { %> 
        <h4>There are no courses scheduled right now.</h4>
        <h6>Please check back later.</h6>
    <% } %> 

</div>


</div>
</div>
</section>

<!-- Body -->
<%- include('./templates/footer.ejs') %>